<p>
  pending works!
</p>
<table border="3">
  <tr *ngFor="let e of empData | async">
    <div *ngIf="e.empMgrId == mgrId">
      <th width="70">Employ Id : {{e.empId}}</th>
       <th>Employee Name : {{e.empName}}</th>
      <th>  Employee Leave Balance : {{e.empLeaveBalance}}       </th>
      <tr border="3">
          <th width="70">Leave ID</th>
          <th>Employee ID</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Number Of Leaves</th>
          <th>Leave Reason</th>
          <th>Applied On</th>
          <th>Manager Comments</th>
          </tr>
    </div>
    <table border ="3">
        <div *ngFor="let ld of leavedetails | async" (click)="setClickRowDup(ld.leaveId, e.empId)">
            <div *ngIf="e.empId == ld.empId" rowspan=200 px>
                <tr>
                    <td width="70">{{ld.leaveId}}</td>
                    <td width="90">{{ld.empId}}</td>
                    <td width="110">{{ld.leaveStartDate}}</td>
                    <td width="150">{{ld.leaveEndDate}}</td>
                    <td width="135">{{ld.leaveNoOfDays}}</td>
                    <td width="100">{{ld.leaveReason}}</td>
                    <td width="80">{{ld.leaveAppliedOn}}</td>
                    <td width="140">{{ld.leaveManagerComments}}</td>
                </tr>
            </div>
        </div>
    </table>
  </tr>
</table>

<div align = center>
    <div *ngIf="showButton">
        <input type="button"class="button" (click)="doApproveDeny()" value="APPROVE/DENY">
        </div>
    </div>
    <div align = center>
           <div *ngIf="!showButton">
           <input type="button" class="button" align="center" value="APPROVE/DENY"  disabled="disabled">
           </div>
        </div>
    <br/>

