<p>
  menu works!
</p>
<a [routerLink]="['first']">First</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink]="['second']">Second</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink]="['third']">Third</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink]="['fourth']">Fourth</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink]="['calc']">Calc</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink]="['employ']">Employ</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink]="['country']">Country</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<router-outlet></router-outlet>
<hr/>