<a [routerLink]="['first']">First</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink]="['second']">Second</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink]="['third']">Third</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink]="['fourth']">Fourth</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink]="['calc']">Calc</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink]="['employ']">Employ</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink]="['country']">Country</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<hr/>
<router-outlet></router-outlet>

<!-- <p>
  Hi I am Prasanna...I am teaching Angular 8 today
</p>
<p>
  Thank You All...
</p>
<hr/>
<p>
  <app-first></app-first>
</p>
<hr/>
<p>
  <app-second></app-second>
</p>
<hr/>
<p>
  <app-third></app-third>
</p>
<hr/>
<p>
  <app-fourth></app-fourth>
</p>
<p>
  <app-calc></app-calc>
</p>
<p>
  <app-name></app-name>
</p>
<p>
  <app-employ></app-employ>
</p>
<hr/>
<p>
  <app-country></app-country>
</p>
<p>
  <app-login></app-login>
</p> -->